# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [7]:
cars1 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [9]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [11]:
cars = pd.concat([cars1, cars2], ignore_index=True)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97,52,2130,24.6,82,2,vw pickup
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120,79,2625,18.6,82,1,ford ranger
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [16]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([50305, 31528, 16478, 49101, 49124, 53920, 33474, 32113, 68180,
       59984, 30606, 18097, 32025, 22431, 39789, 29597, 26405, 31664,
       65769, 37451, 44908, 54058, 53223, 40738, 71988, 70584, 27819,
       68310, 17992, 19334, 16157, 70565, 27448, 63665, 46326, 67130,
       72027, 72385, 50665, 66370, 33151, 47913, 24456, 26406, 41892,
       46488, 59176, 23917, 16686, 61359, 53627, 72521, 47461, 55158,
       30882, 42449, 38067, 54971, 64098, 46310, 47037, 41831, 18054,
       57848, 34035, 55536, 56078, 59663, 63387, 70273, 51725, 31886,
       67211, 21010, 46445, 16621, 47037, 39202, 58612, 55620, 47554,
       72075, 16611, 56866, 33557, 66213, 54855, 44305, 25257, 17985,
       63341, 67321, 49715, 58032, 66806, 36517, 22769, 24367, 43655,
       48761, 41797, 19330, 51996, 30879, 22133, 68421, 19667, 60021,
       32434, 26435, 67024, 25322, 49881, 18875, 35091, 66670, 26128,
       72172, 22782, 42593, 25818, 46662, 55866, 64709, 67861, 65410,
       59395, 18789, 17834, 54550, 49389, 30008, 20499, 53663, 31117,
       18923, 17185, 58643, 53579, 58737, 31756, 49586, 22987, 47202,
       67131, 68459, 65065, 20425, 47633, 17359, 69057, 18485, 55228,
       38214, 50168, 32246, 28662, 40910, 38218, 57846, 49287, 29058,
       47510, 56059, 37370, 68195, 65973, 72793, 72207, 55519, 63787,
       54271, 65493, 32805, 70435, 40368, 35255, 31782, 62746, 65092,
       66525, 36771, 58699, 41300, 29140, 59051, 30541, 63371, 65325,
       66047, 62474, 53507, 53950, 25005, 42330, 48384, 60100, 15397,
       52874, 31248, 24649, 56313, 43683, 34760, 20986, 31425, 49958,
       27261, 49838, 62721, 45352, 72565, 44431, 39692, 49552, 17915,
       22239, 40258, 48634, 56629, 53888, 62072, 70865, 48063, 15248,
       32450, 70143, 72888, 50770, 51126, 24263, 59239, 72791, 57750,
       33776, 30574, 19701, 64209, 31664, 19490, 38804, 48726, 23343,
       54701, 68685, 55309, 43576, 21175, 53088, 28348, 61526, 17363,
       28771, 19689, 37922, 33036, 18070, 52323, 42048, 30551, 60752,
       27656, 23637, 62486, 18262, 55466, 69250, 67199, 17882, 70150,
       39958, 61020, 66576, 68854, 30601, 61348, 19946, 61889, 33959,
       43631, 49815, 49610, 26542, 42115, 28486, 53098, 70946, 57284,
       17953, 52421, 15236, 60670, 35251, 62415, 15056, 58693, 50682,
       59652, 42188, 58743, 19311, 34651, 41003, 37054, 51480, 29089,
       25950, 57411, 32201, 41404, 54413, 26683, 54446, 20277, 38816,
       33896, 50998, 35387, 50171, 45924, 21373, 28879, 60292, 66537,
       48725, 38808, 23940, 53088, 33161, 15344, 47744, 47607, 17422,
       51967, 60818, 65210, 68799, 23389, 45626, 40153, 65790, 49577,
       48131, 28354, 25132, 15343, 62862, 55967, 50499, 18653, 72045,
       58685, 18403, 26184, 46885, 47364, 67567, 23796, 60943, 28324,
       56991, 32043, 30880, 32220, 35783, 22271, 34696, 42062, 60030,
       26869, 38678, 50731, 21594, 36921, 53479, 28927, 39718, 58661,
       67063, 61826, 68726, 45210, 70299, 61053, 45257, 52141, 66139,
       46122, 58235, 32018, 41013, 49700, 40004, 28843, 32812, 50569,
       39285, 63000])

### Step 8. Add the column owners to cars

In [17]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
393,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,28843
394,44.0,4,97,52,2130,24.6,82,2,vw pickup,32812
395,32.0,4,135,84,2295,11.6,82,1,dodge rampage,50569
396,28.0,4,120,79,2625,18.6,82,1,ford ranger,39285
397,31.0,4,119,82,2720,19.4,82,1,chevy s-10,63000

In [20]:
print(cars.shape)

(398, 10)